div.enquadre {
    border: 2px solid black;
    position: relative;
    left: 30%;
    width: 400px;
    height: 200px;
}

div.cercle {
    position: relative;
    border: 2px solid blue;
    border-radius: 50%;
    width: 40px;
    left: 20%;
    height: 40px;
    top: 5%;
}

div.columna {
    position: absolute;
    border: 1px inset black;
    height:100%;
    width: 25%;
}

body {
    text-align: center;
}

/* Funciona?