#fila {
    position: relative;
}

#estat {
    position: absolute;
    border: 3px solid rgb(30, 30, 30);
}

#decisio {
    position: absolute;
    align-content: center;
    font-size: 10px;
    text-align: center;
    border: 1px dotted rgb(30, 30, 30);
}