#fila {
    position: relative;
}

#estat {
    position: absolute;
    border: 3px solid black;
}

#decisio {
    position: absolute;
    align-content: center;
    font-size: 10px;
    text-align: center;
}